<div class="row reference">
    <div class="col-sm-6 left">
        <h3>Alpha Notes</h3>
        <div class="alert alert-danger">
            <p>
                <strong>Head's up!</strong> This version of our API is in <strong>alpha</strong>.
                It might change and could be broken. The documentation is incomplete as well.
                <br />
            </p>
        </div>
        <p>
            To play with our new API during alpha, you need an invite. You can request one from
            <a href="https://alpha.linode.com">alpha.linode.com</a>.
        </p>
        <ul>
            <li>We wipe the database every Sunday at 12:00 AM ET, and might do so at any other time without notice.</li>
            <li>Everything in the alpha environment is free.</li>
            <li>There are probably bugs! This is an alpha, after all.</li>
            <li>We are willing to make breaking changes to the API during alpha.</li>
        </ul>
        <p>
            We want your feedback! Submit issues on
            <a href="https://github.com/Linode/developers">GitHub</a> and join us on IRC in
            <a href="https://webchat.oftc.net/?channels=linode">#linode on irc.oftc.net</a>.
        </p>
    </div>
</div>
