<!-- This is (probably) temporary and was copied and pasted from linode.com -->
<header class="container">
    <nav id="main-nav" class="navbar navbar-dark " role="navigation">
        <a class="navbar-brand" href="/">
            <img id="navbar-logo" src="/styles/assets/linode-L.svg"
                width="40" height="45" style="float: left;" />
            <span class="linode-text main">linode</span>
            <span class="linode-text secondary">Developer</span>
        </a>
        <button id="nav-toggle" class="navbar-toggler hidden-lg-up pull-right"
            type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            &#9776;
        </button>
        <div class="dropdown-menu dropdown-menu-right" aria-labelledby="nav-toggle">
            <a class="dropdown-item hidden-md-up" href="/guides">Guides</a>
            <a class="dropdown-item hidden-md-up" href="/reference">API Reference</a>
            <a class="dropdown-item hidden-md-up" href="/libraries">Libraries</a>
            <div class="dropdown-divider hidden-md-up"></div>
            <a class="dropdown-item" href="https://linode.com/">
                Back to Linode.com
                <i class="text-success fa fa-caret-right" style="margin-left: 0.25rem"></i>
            </a>
        </div>
        <ul class="nav navbar-nav hidden-sm-down">
            <li class="nav-item">
                <a class="nav-link" href="/guides">Guides</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/reference">API Reference</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/libraries">Libraries</a>
            </li>
        </ul>
        <ul class="pull-right nav navbar-nav hidden-md-down">
            <li class="nav-item">
                <a class="nav-link" href="https://linode.com/">
                    Back to Linode.com
                    <i class="text-success fa fa-caret-right" style="margin-left: 0.25rem"></i>
                </a>
            </li>
        </ul>
    </nav>
</header>
